<br>

<div class="jumbotron">
  <h1>list-off</h1>
  <p>list-off is a self-cleaning task management app</p>
  <p>
      <%= link_to "sign in", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "sign up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>your life, listed</h2>
    <p>use list-off to quickly mark down and organize your daily activities and social calendar!</p>
  </div>
  <div class="col-md-4">
    <h2>plan ahead</h2>
    <p>list-off will remember your important assignments, tasks, and dates! check them off when complete!</p>
  </div>
  <div class="col-md-4">
    <h2>clean house</h2>
    <p>list-off hates old to-do items just lying around!  list-off will remove tasks older than 7 days to stay nice and fresh!</p>
  </div>
</div>
